.app {
    overflow: hidden;
}
/* nó chiếm hết màn hình trên mọi cấu hình */

.header {
    height: var(--header-height);
    /* tạo chiều cao */
    background-image: linear-gradient(0, #fe6433, #f53e2d);
    /* tạo dải màu cam đậm đến nhạt cho header */
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-content: center;
    position: relative;
}

.header__navbar-item.header__navbar-user {
    display: none;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-img {
    margin-bottom: -5px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    margin-left: 2px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    top: calc(100% + 6px);
    right: 0;
    width: 160px;
    padding-left: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    position: absolute;
    right: 3px;
    top: -24px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 50%;
    height: 8px;
}

.header__navbar-user-item a {
    display: block;
    padding: 6px 10px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:first-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.header__navbar-user-item--separate a {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__notify-has--notify:hover .header__notify {
    display: block;
}

.header__navbar-no--pionter {
    cursor: text;
    color: var(--white-color);
}

.header__navbar-item-link,
.header__navbar-item {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item-icon:hover,
.header__navbar-item-link:hover,
.header__navbar-item:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--seperate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 44%;
    transform: translateY(-70%);
    /* top right và transform để căn chỉnh vạch ngăn cách */
}

.header__navbar-item-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-item-link :nth-child(2) {
    margin-left: 3px;
} 

.header__navbar-item-icon {
    font-size: 1.8rem;
    margin: 0 4px;
    top: 2px;
    position: relative;
}
/* header sort bar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-item:first-child .header__sort-link::before {
    display: none;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-right: 1px solid #E5E5E5;
    transform: translateY(-50%);
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}
/* QR Code */

.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__notify::before,
.header__qr::before {
    content: "";
    position: absolute;
    display: block;
    height: 12px;
    width: 108%;
    left: 0;
    top: -8px;
}
/* cầu nối */

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(1) {
    margin-right: 11px;
}

.header__qr-img-download-img {
    height: 16px;
}

/* header notifycation */
.header__notify {
    position: absolute;
    z-index: 1;
    top: 118%;
    width: 404px;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    cursor: default;
    animation: headerNotifyGrowth ease-in 0.2s ;
    will-change: opacity transform;
    /* cái này để apply những thuộc tính dùng trong keyframs */
    transform-origin: calc(100% - 32px) top;
    /* transform này dùng để định tâm hiện lên của thẻ */
    display: none;
    border-radius: 2px;
}

.header__notify-arrow-up::after {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 2px;
    top: -30px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
/* animation này để khi hover vào nó sẽ lớn dần lên */

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    cursor: text;
}

.header__notify-header h3 {
    color: #999;
    margin: 0 16px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    /* cho chiều cao dòng đúng bằng chiều cao thẻ chứa nó thì nó sẽ căn giữa dòng */
}

.header__notify-list {
    padding-left: 0;
    line-height: 24px;  
    list-style: none;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
    /* thuộc tính dùng để căn ảnh ko bị méo */
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    /* để nó xuống hàng */
    font-size: 14px;
    color: var(--black-color);
    font-weight: 400;
}

.header__notify-describe {
    display: block;
    /* để nó xuống hàng */
    font-size: 12px;
    color: #756f6e;
}

.header__notify-footer {
    text-align: center;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--black-color);
    background-color: var(--white-color);
    padding: 8px 16px;
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
    display: block;
}

/* CSS REGISTER Modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
    /* overflow để thẻ con ko vượt quá thẻ cha  */
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    padding: 0 12px;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}
/* focus này để khi kích vào thẻ input nó sẽ nháy nháy */

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.auth-form-policy-link {
    text-decoration: none;
    color: var(--primary-color);
    padding: 0 4px;
}

.auth-form__control {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    margin-top: 22px;
    padding: 12px 18px;
    display: flex;
    justify-content: space-between;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form__socials--facebook,
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 36px;
}

.auth-form__socials--google {
    color: #666;
    background-color: var(--white-color);
}

/* CSS LOGIN */
.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form-help-link {
    font-size: 1.4rem;
    text-decoration: none;
}

.auth-form-help-separate {
    display: block;
    height: 22px;
    margin: 4px 16px 0;
    border-left: 1px solid #EAEAEA;
    transform: translateY(-36%);
}

.auth-form-help-forgot {
    color: var(--primary-color);
}

/* header with search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__mobile-search {
    padding: 0 12px;
    display: none;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}

.header__logo-img {
    width: 150px;
    /* nếu để logo shopee thì cái này để width: 150px là đủ */
}

.header__logo-link-icon {
    color: var(--white-color);
    text-align: center;
    font-size: 5rem;
}

.header__logo-link-icon .header__logo-link-icon-js {
    text-align: center;
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    position: relative;
}

.header__search-checkbox:checked ~ .header__search {
    display: flex;
}

/* cart css */
.header__cart {
    width: 150px;
    text-align: center;
}


.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-wrap::after {
    content: "";
    display: block;
    position: absolute;
    width: 150%;
    height: 20px;
    right: 0;
    top: 80%;
}

.header__cart-notice {
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    color: var(--primary-color);
    background-color: var(--white-color);
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg  {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-no-cart-img {
    width: 54%;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 7px);
    right: 0;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 3.125px 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    display: none;
    cursor: default;
    z-index: 1;
}

.header__cart-heading {
    text-align: left;
    /* cho dòng chữ dính vào bên trái */
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 56vh;
    /* để giá trị vh để thẻ cha luôn bằng 70% chiều cao trình duyệt */
    overflow-y: auto;
    /* cái này để khi thẻ con vượt quá thẻ cha thì nó sẽ chuyển sang chế độ lăn chuột xuống */
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    height: 4rem;
    overflow: hidden;
    color: var(--text-color);
    margin: 0;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    color: #757575;
    margin: 0 4px;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}


.header__cart-list::after {
    content: "";
    position: absolute;
    right: 3px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 4px;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    display: block;
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 16px 0 8px;
}


.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 36px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
    cursor: pointer;
}

.header__search-btn:hover {
    background-color: #fb6445;
}

.header__search-btn-icon {
     font-size: 1.4rem;
     color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    right: 64px;
    top: 80%;
    width: 130px;
    list-style: none;
    /* ẩn đi dấu chấm trc thẻ li */
    box-shadow: 0 1px 2px #e0e0e0;
    /* bóng đổ mờ mờ bên dưới */
    padding-left: 0;
    border-radius: 2px;
    /* overflow: hidden; */
    /* cho vào thẻ cha để thẻ con ko bị vượt quá */
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header__search-option::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 12px;
    top: -10px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px 8px;
}

.header__search-option-item:first {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:first {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px ;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}
/* đoạn focus này để nếc kích chuột vào thẻ input sẽ hiện ra thẻ bên dưới */

/* search history */

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(189, 189, 189);
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    list-style: none;
    padding-left: 0;
    margin: 8px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    /* dùng để căn giữa chữ cho line-height có chiều cao bằng chiều cau thẻ chứa nó */
    display: block;
}

/* App container */

.app__content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    margin-top: 0;
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 19px;
}
.category-item--active .header__logo-img {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* để căn giữa khi cho top 50% */
    left: 7px;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 8px 16px;
    right: 0;
    /* right này để dùng cái transition nó sẽ bắt đầu right = 0 */
    transition: right linear 0.1s;
    /* transition này là để thay đổi hiệu ứng khi mình hover vào*/
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* responsive mobile category css */

.mobile-category {

}

.mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
    /* khi đối tượng con vượt quá đối tượng cha thì sẽ sinh ra thanh kéo */
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}
/* để ẩn thanh kéo bên dưới */

.mobile-category__item {
    flex-shrink: 0;
    /* để dòng chữ ko bị co lại mà nó dài theo chiều ngang thanh kéo bên trên */
    margin-right: 10px;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #87AFD8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #76C9BD;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
    background-color: #88CF81;
}
/* phương thức này nó sẽ select vào phần từ 1..3..6..9 */

.mobile-category__link {
    --line-height: 2rem;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    text-align: center;
    width: 108px;
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    border-radius: 4px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: none;
    padding: 0 6px;
}


/* Home sort + filter */

.home-filter {
    padding: 22px 12px;
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.home-filter__label {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
    /* đẩy element sang bên phải */
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    /* để thẻ con ko vượt quá thẻ con*/
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    display: flex;
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
    cursor: default;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* product item css */

.home-product {
    margin-bottom: 20px;
}

.home-product-item {
    display: block;
    position: relative;
    margin-top: 10px;
    text-decoration: none;
    background-color: var(--white-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    /* transition dùng để tạo chuyển động cho elemnent nó apply cái transform bên dưới khi ta hover vào*/
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    /* padding-top dùng để tạo ảnh khi nhúng ảnh bằng thẻ div */
    background-repeat: no-repeat;
    /* xoá đi phần via thừa của ảnh */
    background-size: contain;
    /* điền đầy ảnh */
    background-position: center;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--text-color);
    margin: 10px 10px 6px;
    height: 36px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /*height -> overflow ->... cuối để tạo cái dấu 3 chấm nếu dòng chữ dài quá*/
    /* -webkit-line-clamp: 2; đề cho dấu 3 chấm vào dòng số 2 */
    /* text-overflow: ellipsis; */
    /* cái này để dấu 3 chấm chạy trên trình duyệt không hỗ trợ 
    dùng cái này phải thêm thuộc tính white-space: nowrap;*/
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    /* nếu vượt quá thẻ cha sẽ nhảy xuống dòng */
}

.home-product-item__old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    /* gạch giữa chữ */
}

.home-product-item__current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    margin: 6px 10px 0;
    justify-content: space-between;
}

.home-product-item__like {
    font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
    color: #f63d30;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.7);
    /* làm cho ngôi sao nhỏ lại */
    transform-origin: right;
    /* cho ngôi sao dính sát vào bên trái khi dùng scale */
    color: #D5D5D5;
    margin-left: -1px 0 0 auto;
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    margin: 3px 10px 0;
    color: #595959;
    font-weight: 300;
}

.home-product-item__origin-name {
    margin-left: auto;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 01.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite span {
    color: var(--white-color);
    
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
    /* cái này để giảm độ sáng element */
}

.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}

.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.home-product__pagination {
    margin: 48px 0 32px 0;
    padding-left: 0;
}

/* footer css */

.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.7rem;
    margin-top: -1px;
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    object-fit: contain;
    /* để cho ảnh ko bị méo */
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    /* muốc dislay: flex là chiều dọc phải thêm thuộc tính này */
    justify-content: center;
}

.footer__download-app-img {
    height: 16px;
}

.footer__download-app-link {
    text-decoration: none;
    color: transparent;
}

.footer__bottom {
    padding: 8px 0;
    background-color: #F5F5F5;
    margin-top: 24px;
}

.footer__text {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #737373;
}